@use "../../scss/2-base/variables";
@use "../../scss/2-base/mixins";
@use "../../scss/2-base/functions";

nav {
  flex: 0 1 auto;
  padding: 2.5rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    z-index: 9990;
    @include mixins.flexContainer(
      $gap: 3.5rem,
      $dir: column,
      $mainAlign: flex-start
    );
    padding: 8rem 5rem;
    background: rgba(0, 0, 0, 0.975);
    li {
      display: inline-block;
      list-style-type: none;
      position: relative;
      text-transform: uppercase;
    }
    transition: left 0.3s ease;
  }
  .show {
    left: 5%;
  }
  img {
    position: absolute;
    top: 1.9rem;
    right: 1.9rem;
    width: 2rem;
  }
  span {
    display: inherit;
    position: absolute;
    top: 0.25rem;
    right: 1.9rem;
    z-index: 9999;
    font-size: 3.5rem;
    color: white;
    cursor: pointer;
  }

  @include mixins.mediaQuery(functions.breakpoints($size: "md")) {
    .show {
      left: 20%;
    }
  }
  @include mixins.mediaQuery(functions.breakpoints($size: "lg")) {
    ul {
      position: inherit;
      background: transparent;
      @include mixins.flexContainer($gap: 2rem, $mainAlign: flex-end);
      margin: 0;
      padding: 0;
      li {
        text-transform: capitalize;
        &::after {
          content: "";
          position: absolute;
          bottom: -6px;
          left: -4px;
          height: 4px;
          width: 0%;
          background: rgb(160, 151, 133);
          transition: width 0.5s ease;
        }
        &:hover::after {
          width: 30%;
        }
      }
    }
    img {
      display: none;
    }
    span {
      display: none;
    }
  }
}

.active {
  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: -4px;
    height: 4px;
    width: 30%;
    background: rgb(160, 151, 133);
  }
}
