@use "../scss/2-base/mixins";
@use "../scss/2-base/variables";

.about-container {
  flex: 1 1 auto;
  @include mixins.flexContainer($dir: column, $mainAlign: flex-start);
  .switch-button {
    margin-block: 2.5rem;
  }
}

.timeline {
  position: relative;
  padding: 5rem 1rem;
  margin: 0 auto;
  max-width: 1300px;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: #fffc;
    right: 40px;
    top: 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (min-width: variables.$breakpoint) {
    padding: 2rem;
    &:before {
      left: calc(50% - 1px);
      right: auto;
    }
  }
}
