@use "../scss/2-base/mixins";

html {
  overflow-y: overlay;
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-image: radial-gradient(
        ellipse,
        rgba(189, 189, 189, 0.15) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("../assets/banner-unsplash.jpg");
    @include mixins.backgroundImage;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    #root {
      flex: 1 1 auto;
      .app-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        overflow-x: hidden;
      }
    }
  }
}
