@use "../scss/2-base/mixins";
@use "../scss/2-base/functions";

.home-container {
  flex: 1 1 auto;
  @include mixins.flexContainer($dir: column);
  .home-container-content {
    @include mixins.flexContainer($dir: column, $gap: 1rem);
    -webkit-clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
    clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
    background: rgba(10, 10, 10, 0.85);
    gap: 0.5rem;
    padding: 2.5rem 8rem;
  }
  h3 {
    letter-spacing: 0.5px;
    color: rgb(230, 230, 230);
    font-size: 1.125rem;
  }
  h1 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1;
  }
  @include mixins.mediaQuery(functions.breakpoints("md")) {
    .home-container-content {
      padding: 3rem 4rem;
    }
  }
  @include mixins.mediaQuery(functions.breakpoints("lg")) {
    .home-container-content {
      gap: 1rem;
      padding: 4rem 8rem;
    }
    h3 {
      letter-spacing: 2px;
      font-size: 1.25rem;
    }
    h1 {
      letter-spacing: 2px;
      font-size: 3rem;
    }
  }
}

.home-container-content-wrapper {
  padding: 0.25rem;
  -webkit-clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
  clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
  background: rgba(255, 255, 255, 0.75);
}
